body{
    background-color: beige;
}
.post{
    width: 400px;
    height: 700px;
    margin:auto;
    margin-top: 50px;
    align-items: center;
    background-color: aliceblue;
}
.icons{
    padding-top: 10px;
}
.header{
    padding:5px;
    display:flex;
    height: 40px;
}
.headerIcon{
    margin-left: 290px;
    margin-top: 10px;  
}
.fa-html5{
   font-size: 30px;
   padding-top: 5px;
   margin-right: 5px;
}
.fa-bookmark{
    font-size: 20px;
    float:right;
}